node-red/flows.json
[
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "name": "Sensores MQTT",
        "topic": "sensors/+/data",
        "qos": "1",
        "datatype": "json",
        "broker": "mosquitto-broker",
        "x": 150,
        "y": 100,
        "wires": [["switch-alert"]]
    },
    {
        "id": "switch-alert",
        "type": "switch",
        "name": "¿Alerta?",
        "property": "payload.event",
        "rules": [{"t": "eq", "v": "ANOMALY_DETECTED"}],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 100,
        "wires": [["influxdb-out"]]
    },
    {
        "id": "influxdb-out",
        "type": "influxdb out",
        "name": "InfluxDB",
        "measurement": "predictive_maintenance",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "predictive_maintenance",
        "host": "http://influxdb-server:8086",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "mosquitto-broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto-broker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]